<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Calculator assignment</title>
</head>
<body>
	<form action="/calculate" method="post">
		<div>
			<h1>Calculator</h1>
			<input required type="number" name="firstNumber"> <select
				name="operator">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="*">*</option>
				<option value="/">/</option>
				<option value="^">^</option>
			</select> <input required type="number" name="secondNumber">
			<button>Calculate</button>

		</div>
	</form>
	{{#calculator}}
	<p>= {{ calculator.getResult }}</p>
	{{/calculator}}

</body>
</html>